
ReplicatorSlave/.settings/org.eclipse.wst.jsdt.ui.superType.name
*.prefs
ReplicatorSlave/.settings/
ReplicatorSlave/log/
ReplicatorSlave/.project
ReplicatorSlave/.buildpath
ReplicatorSlave/log/
ReplicatorSlave/log/

ReplicatorMaster/.settings/
ReplicatorMaster/log/
ReplicatorMaster/.project
ReplicatorMaster/.buildpath
